/var/log/{{ item.name }} {
    rotate {{ svxlink_runner_logrotate_retain }}
    missingok
    notifempty
    weekly
    create 0644 svxlink svxlink
    postrotate
        killall -HUP {{ item.name }}
    endscript
}
