{#
global(
        preserveFQDN="on"
)
#}
module(load="imfile")
module(load="mmnormalize")
{% if svxlink_runner_use_svxreflector|bool %}

input(
        type="imfile"
        File="/var/log/svxreflector"
        Tag="svxreflector:"
        Ruleset="svxlink.ruleset"
        freshStartTail="on"
        Facility="local0"
)
{% endif %}
{% if svxlink_runner_use_svxlink|bool %}

input(
        type="imfile"
        File="/var/log/svxlink"
        Tag="svxlink:"
        Ruleset="svxlink.ruleset"
        freshStartTail="on"
        Facility="local1"
)
{% endif %}
{% if svxlink_runner_use_remotetrx|bool %}

input(
        type="imfile"
        File="/var/log/remotetrx"
        Tag="remotetrx:"
        Ruleset="svxlink.ruleset"
        freshStartTail="on"
        Facility="local2"
)
{% endif %}

{#
template(name="svxlink-file.format" type="list") {
        property(name="$!date")
        constant(value=" ")
        property(name="$!time")
        constant(value=".")
        property(name="$!msec")
        constant(value=" ")
        property(name="hostname")
        constant(value=" ")
        property(name="syslogtag")
        constant(value=" [")
        property(name="$!pristr")
        constant(value=":")
        property(name="$!pri")
        constant(value="] ")
        property(name="$.src")
        property(name="$!msg")
        constant(value="\n")
}
#}
template(name="svxlink-fwd.format" type="list") {
        constant(value="<")
        property(name="$!pri")
        constant(value=">")
        property(name="timereported" dateFormat="rfc3339")
        constant(value=" ")
        property(name="hostname")
        constant(value=" ")
        property(name="syslogtag")
        constant(value=" [")
        property(name="$!pristr")
        constant(value="] ")
        property(name="$.src")
        property(name="$!msg")
}

ruleset(name="svxlink.ruleset") {
        action(
                type="mmnormalize"
                rulebase="{{ svxlink_runner_config_dir }}/rsyslog.rulebase"
        )
        if ($!src != "") then {
                set $.src = $!src & " ";
        }
        if ($!pri <= {{ svxlink_runner_rsyslog_max_level }}) then {
                action(
                        type="omfwd"
                        Target="{{ svxlink_runner_rsyslog_target_host }}"
                        Port="{{ svxlink_runner_rsyslog_target_port }}"
                        Protocol="{{ svxlink_runner_syslog_protocol }}"
                        Template="svxlink-fwd.format"
                )
        }
}

if (prifilt("*.{{ svxlink_runner_rsyslog_max_level }}") and (($programname == 'svxlink') or ($programname == 'remotetrx') or ($programname == 'svxreflector'))) then {
        action(
                type="omfwd"
                Target="{{ svxlink_runner_rsyslog_target_host }}"
                Port="{{ svxlink_runner_rsyslog_target_port }}"
                Protocol="{{ svxlink_runner_syslog_protocol }}"
        )
}

{% if svxlink_runner_rsyslog_mark_interval > 0 %}

module(load="immark" interval="{{ svxlink_runner_rsyslog_mark_interval }}")

if (prifilt("*.info") and ($msg contains '-- MARK --')) then {
        action(
                type="omfwd"
                Target="{{ svxlink_runner_rsyslog_target_host }}"
                Port="{{ svxlink_runner_rsyslog_target_port }}"
                Protocol="{{ svxlink_runner_syslog_protocol }}"
        )
}
{% endif %}
